In [3]:
import pandas as pd

In [4]:
df_train = pd.read_csv('data/train_target.csv')
df_train

,ClientUUId,Id,OrderType,LocalBeginDate,LocalEndDate,OrderPrice,Discount,apply_promo
0,000D3A20F23EA95811E7B99F3ED09FC8,7,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,200,0
1,000D3A20F23EA95811E7B99F3ED09FC8,6,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,25,0
2,000D3A20F23EA95811E7BD373E79565E,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,200,0
3,000D3A20F23EA95811E7BD373E79565E,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0
4,000D3A20F23EA95811E7BDAE71CD3F33,6,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,699,30,0
...,...,...,...,...,...,...,...,...
27736,82EDBCD6CE60978F11EDC591DCA75401,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,200,0
27737,82EDBCD6CE60978F11EDC591DCA75401,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0
27738,82F78FC7401A9ADD11EDFA15A350D31F,6,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,799,20,0
27739,8606F5E4CA39BF7211EE517E6E1D90B7,5,"2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,749,200,0
27740,8606F5E4CA39BF7211EE517E6E1D90B7,5,"1,2,3",2023-11-02T00:00:00.000Z,2023-11-05T23:59:00.000Z,1249,250,0

In [5]:
df_orders = pd.read_csv('data/orders.csv')
df_orders

,OrderUUId,addressId,deliverySectorId,ClientUUId,Date,SaleDate,UnitUUId,NewClient,ClientOrderNumber,ProductUUId,CategoryId,ProductTotalPrice,MenuPrice,OrderState,OrderPaymentType,OrderTotalPrice,OrderType,apply_promo
0,020DD76CCD949AE011EDE031ED5D76FD,NaN,NaN,000D3AAC9DCABB2E11EBE0614C89D044,2023-04-21,2023-04-21T20:51:26.000Z,000D3A2480C380DA11E692CFB9F92484,0,18,000D3A240C71BE9A11E719BE2AB264A6,4,1.0,45.0,4,2,1.0,3,0
1,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,11EC9AABAD354BE051CCF1EE1F83A8D0,1,485.0,485.0,4,2,1164.0,1,0
2,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,11EB846583CB3BDEA80D1A7F2E184D40,1,589.0,589.0,4,2,1164.0,1,0
3,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,000D3A240C71BE9A11E719BE2AB267FD,4,45.0,45.0,4,2,1164.0,1,0
4,02164D9B0F67BC3311EE610987AF48C7,0.0,0.0,000D3A21DA51A81411EAF10674007D74,2023-10-02,2023-10-02T21:31:32.000Z,000D3A26B5B080DF11E745FD0474B95C,0,29,000D3A240C71BE9A11E719BE2AB264A6,4,45.0,45.0,4,2,1164.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611734,FEE4A40E62DA936011EE0DA9C66D87C8,0.0,0.0,000D3A39D824A82E11EA2BB7F48841A0,2023-06-18,2023-06-18T15:34:13.000Z,000D3A22FA54A81411E95B9E966DC9B2,0,55,11EA5EE49DCBD9124A66F764872C8E20,1,594.0,719.0,4,2,1509.0,1,0
611735,FEE4A40E62DA936011EE0DA9C66D87C8,0.0,0.0,000D3A39D824A82E11EA2BB7F48841A0,2023-06-18,2023-06-18T15:34:13.000Z,000D3A22FA54A81411E95B9E966DC9B2,0,55,000D3A39D824A82E11E9A18231161F87,1,395.0,479.0,4,2,1509.0,1,0
611736,FEE7759E6F988C7111EDC1BDEEDF6376,9723140.0,4103.0,000D3A22FA54A81411E9BC5EF27EE5BF,2023-03-24,2023-03-24T15:50:51.000Z,000D3A24D2B7A94311E8706B7529EBFD,0,28,000D3A240C71BE9A11E719BE2AB2D427,3,169.0,169.0,4,2,557.0,1,0
611737,FEE7759E6F988C7111EDC1BDEEDF6376,9723140.0,4103.0,000D3A22FA54A81411E9BC5EF27EE5BF,2023-03-24,2023-03-24T15:50:51.000Z,000D3A24D2B7A94311E8706B7529EBFD,0,28,11ED08AA93691DC615EE94EB19CD7070,3,189.0,189.0,4,2,557.0,1,0
611738,FEE7759E6F988C7111EDC1BDEEDF6376,9723140.0,4103.0,000D3A22FA54A81411E9BC5EF27EE5BF,2023-03-24,2023-03-24T15:50:51.000Z,000D3A24D2B7A94311E8706B7529EBFD,0,28,11ED276CA17B3D3016833EF686833390,3,199.0,199.0,4,2,557.0,1,0

In [20]:
print('df_train ClientUUId & df_orders ClientUUId\t', len(set(df_train['ClientUUId']) & set(df_orders['ClientUUId'])))
print('df_train ClientUUId\t\t\t\t', len(set(df_train['ClientUUId'])))
print('df_orders ClientUUId\t\t\t\t', len(set(df_orders['ClientUUId'])))

df_train ClientUUId & df_orders ClientUUId	 10023
df_train ClientUUId				 18598
df_orders ClientUUId				 16337

In [28]:
df_merge = pd.merge(df_orders, df_train, how='outer', on='ClientUUId')
(df_merge['apply_promo_x'] == df_merge['apply_promo_y']).mean()

np.float64(0.5602222681274301)